#all{
    width:100%;
    height:auto;
    padding:15px;
    margin:0px;
    background-color:#1D2E60;
}

#header{
    background-color:#00FF00;
}

#menu{
    background-color:#00FF00;
}

#content{
    width:65%;
    height:auto;
    margin:25px;
    padding:15px;
    background-color:#FFFFFF;
}

#footer{
    background-color:#000033;
}
