#all{
    background-color:#1D2E60;
}

#header{
    background-color:#00FF00;
}

#menu{
    background-color:#00FF00;
}

#content{
    width:65%;
    height:auto;
    background-color:#FFFFFF;
}

#footer{
    background-color:#0000FF;
}
